
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Haberler alanı-->
<div class="inner-banner has-base-color-overlay text-center" style="background: url(/Content/Site/images/background/1.jpg);">
    <div class="container">
        <div class="box">
            <h3>Haberler</h3>
        </div>
    </div>
</div>


<!--Anasayfa>Blog alanı-->
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <li>
                    Blog
                </li>
            </ul>
        </div>
    </div>
</div>



<!--Slidebar kısmı-resimli alan-->
<div class="sidebar-page-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <section class="news-section padd-2">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        @{
                            if (IsPost)
                            {
                                string companyname = Request.Form["companyname"];
                                <textarea disabled="disabled" cols="60" rows="20">@companyname</textarea>
                            }
                        }
                        <br /><br />
                    </div>
                    <ul class="page_pagination style-2 center">
                        <li><a href="#" class="tran3s"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="active tran3s">1</a></li><!--yazar1 için-->
                        <li><a href="#" class="tran3s">2</a></li><!--yazar2 için-->
                        <li><a href="#" class="tran3s">3</a></li><!--yazar3 için-->
                        <li><a href="#" class="tran3s"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>

                </section>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="blog-sidebar padd-4">


                    @Html.Action("Category", "Blog")

                    @Html.Action("Popular", "Blog")


                    @Html.Action("Tag", "Blog")


                    <br><br>

                </div>
            </div>
        </div>
    </div>
</div>